.profile-container{
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.profile-line{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.profile-line > p{
        flex: 1;
        border: none;
}