$front-glass-color: rgba(255, 255, 255, 0.33);
$back-glass-color:rgba(255, 255, 255, 0.66);
$nav-background-color: rgba(255, 255, 255, 0.44);
$basic-border: 1px solid lightgrey;
$basic-text-color: rgb(240,240,240);
$text_title_color:#14804c;
