@import 'font';
@import 'variables';
*{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
    font-family: MyWebFont;
    text-decoration: none;
}
.fit_con{
    height:fit-content;
}
// @media screen and (max-width: 768px) {
//     *{
//         width: 100%;
//         height: 100%;
//         padding: 0;
//         margin-left: auto;
//         margin-right: auto;
//         font-family: MyWebFont;
//         text-decoration: none;
//     }
//     .fit_con{
//         height:fit-content;
//     }
// }
// @import 'navbar' (max-width:768px);
// @import 'login' (max-width:768px);
// @import 'article' (max-width:768px);
// @import 'index' (max-width:768px); 
// @import 'glass' (max-width:768px);
@import 'profile';
@import 'article_desktop';
@import 'glass_desktop';
@import 'index_desktop';
@import 'login_desktop';
@import 'navbar_desktop';